<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <h2>Usuários</h2>
    <a href="/admin/users/create" class="btn btn-primary">Criar novo usuário</a>
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.email %></td>
                    <td>
                        <a class="btn btn-warning" href="/admin/users/edit/<%= user.id %>">Edit</a>
                        <form
                        action="/users/delete"
                        method="POST"
                        style="display: inline;"
                        onsubmit="confirmarDelecao(event, this)"
                      >
                        <input type="hidden" name="id" value="<%= user.id %>" />
                        <button class="btn btn-danger">Deletar</button>
                      </form>
                      </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include('../../partials/footer.ejs') %>
<script>
    function confirmarDelecao(event, form) {
      event.preventDefault();
      let decision = confirm('Você quer deletar este artigo?');
      if (decision) {
        form.submit();
      }
    }
  </script>